<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Разрешения -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Тип FGS (microphone) не указываем, чтобы прошивка не гасила сервис на старте -->

    <application
        android:allowBackup="true"
        android:label="LiveTranslate"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveTranslate">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Оверлей-сервис (foreground) -->
        <service
            android:name=".overlay.OverlayService"
            android:exported="false" />

        <!-- Тестовый foreground-сервис (только уведомление) -->
        <service
            android:name=".debug.FgTestService"
            android:exported="false" />
    </application>
</manifest>
